default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  username: <%= ENV.fetch("DB_USERNAME", "test") %>
  password: <%= ENV.fetch("DB_PASSWORD", "test") %>
  database: <%= ENV.fetch("DB_NAME", "test") %>
  host: <%= ENV.fetch("DB_HOST", "localhost") %>
  port: <%= ENV.fetch("DB_PORT", 3306) %>
  idle_timeout: <%= ENV.fetch("DB_IDLE_TIMEOUT", 1) %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default