default: &default
  protocol: <%= ENV.fetch("DDE_SYNC_PROTOCOL", "https") %>
  host: <%= ENV.fetch("DDE_SYNC_HOST", "ddedashboard.example.org") %>
  username: <%= ENV.fetch("DDE_SYNC_USER", "test") %>
  password: <%= ENV.fetch("DDE_SYNC_PASS", "test") %>
  port: <%= ENV.fetch("DDE_SYNC_PORT", nil) %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default