development:
  protocol: <%= ENV.fetch("MASTER_COUCH_DB_PROTOCOL", "http") %>
  host: <%= ENV.fetch("MASTER_COUCH_DB_HOST", "localhost") %>
  port: <%= ENV.fetch("MASTER_COUCH_DB_PORT", 5984) %>
  username: <%= ENV.fetch("MASTER_COUCH_DB_USER", "root") %>
  password: <%= ENV.fetch("MASTER_COUCH_DB_PASS", "root") %>
  primary: <%= ENV.fetch("MASTER_COUCH_DB_NAME", "dde3_master_production") %>
  bidirectional: <%= ENV.fetch("MASTER_COUCH_DB_BIDIRECTIONAL", true) %>

production:
  protocol: <%= ENV.fetch("MASTER_COUCH_DB_PROTOCOL", "http") %>
  host: <%= ENV.fetch("MASTER_COUCH_DB_HOST", "localhost") %>
  port: <%= ENV.fetch("MASTER_COUCH_DB_PORT", 5984) %>
  username: <%= ENV.fetch("MASTER_COUCH_DB_USER", "root") %>
  password: <%= ENV.fetch("MASTER_COUCH_DB_PASS", "root") %>
  primary: <%= ENV.fetch("MASTER_COUCH_DB_NAME", "dde3_master_production") %>
  bidirectional: <%= ENV.fetch("MASTER_COUCH_DB_BIDIRECTIONAL", true) %>
