:concurrency: <%= ENV.fetch("SIDEKIQ_CONCURRENCY", 4) %>
:queues:
- default
- location_npid
- low_npid_notification
- npid_pool
- email_notifications
- archive_sync_errors
- last_seen_last_synced
- sync

:redis:
  :url: <%= ENV.fetch("SIDEKIQ_REDIS_URL", "redis://localhost:6379/2") %>