# SMTP Settings
smtp_settings:
  production:
    address: "<%= ENV['SMTP_SERVER'] %>"
    port: "<%= ENV['SMTP_SERVER_PORT'] %>"
    user_name: "<%= ENV['SMTP_ADDRESS'] %>"
    password: "<%= ENV['SMTP_PASSWORD'] %>"
    authentication: "<%= ENV['SMTP_AUTHENTICATION'] %>"
    enable_starttls_auto: "<%= ENV['SMTP_STARTTLS_AUTO'] %>"
    domain: "<%= ENV['SMTP_DOMAIN'] %>"
  
  development:
    address: "<%= ENV['SMTP_SERVER'] %>"
    port: "<%= ENV['SMTP_SERVER_PORT'] %>"
    user_name: "<%= ENV['SMTP_ADDRESS'] %>"
    password: "<%= ENV['SMTP_PASSWORD'] %>"
    authentication: "<%= ENV['SMTP_AUTHENTICATION'] %>"
    enable_starttls_auto: "<%= ENV['SMTP_STARTTLS_AUTO'] %>"
    domain: "<%= ENV['SMTP_DOMAIN'] %>"
  
  test:
    address: "<%= ENV['SMTP_SERVER'] %>"
    port: "<%= ENV['SMTP_SERVER_PORT'] %>"
    user_name: "<%= ENV['SMTP_ADDRESS'] %>"
    password: "<%= ENV['SMTP_PASSWORD'] %>"
    authentication: "<%= ENV['SMTP_AUTHENTICATION'] %>"
    enable_starttls_auto: "<%= ENV['SMTP_STARTTLS_AUTO'] %>"
    domain: "<%= ENV['SMTP_DOMAIN'] %>"
